*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    height: 300vh;
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: rgb(40, 40, 40);
    color: rgb(251, 252, 253);
}
h1{
    color: rgb(255, 255, 255);
    
}
h2{
    color: rgb(161, 167, 255);
    
}
.header{
    background-color: rgb(52, 40, 213);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.subheader{
    width: 80%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header1{
    border-top: 1px solid grey;
    padding: 5px;
}
a{
    padding: 10px;
    background-color: rgb(42, 59, 206);
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-style: italic;
    box-shadow: 1px 1px 5px white;
}
a:hover{
    padding: 10px;
    background-color: rgb(42, 59, 206);
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-style: italic;
    box-shadow: 1px 1px 5px rgb(8, 8, 8);
}
.conatiner{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
input{
    height: 18%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    border: none;
    border-radius: 3px;
}
button{
    padding: 10px;
    background-color: rgb(42, 59, 206);
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-style: italic;
    box-shadow: 0px 1px 5px white;
}